*{
    margin: 0;
    padding: 0;
}

/* css units */
ul{
    color: black;
    background-color: green;
    width: 100vh;
    height:10vw;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size:1em;
    
}

header,section{
    color: black;
    background-color: yellow;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

:hover ul{
    color: red;
}